{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ author.first_name }} {{ author.last_name }}</h1>
  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
  {% if author.date_of_death %}
    <p><strong>Date of Death:</strong> {{ author.date_of_death }}</p>
  {% endif %}

  <h2>Books</h2>
  {% if author.book_set.all %}
    <ul>
      {% for book in author.book_set.all %}
        <li><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No books by this author.</p>
  {% endif %}

  {% if perms.catalog.change_author %}
    <p><a href="{% url 'author-update' author.id %}">Edit this author</a></p>
  {% endif %}
  {% if perms.catalog.delete_author %}
    <p><a href="{% url 'author-delete' author.id %}">Delete this author</a></p>
  {% endif %}
{% endblock %}
